*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse
.project
.classpath
.settings/
/target/

# npm
node_modules/
npm-debug.log

# sublime
*.sublime-workspace
*.sublime-project

# latex
*.aux
*.dvi
*.log
*.pdf
*.tex.backup
*.toc
