[v-cloak] {
    display: none;
}

html,
body {
    min-height: 100%;
    height: auto !important;
}

.co-search-input {
    padding: 0 8px;
    resize: none;
    background: white;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    letter-spacing: 0.04em;
    display: inline-block;
    will-change: opacity, transform, color;
    box-sizing: border-box;
    margin: 8px;
    border: none;
    outline: none;
    border-radius: 2px;
    height: 36px;
}

.md-padding {
    padding: 16px;
}

.md-margin {
    margin: 16px;
}

.md-radio-container, .md-radio-label {
    cursor: pointer;
}

a:not(.md-button).co-text-link,
a:not(.md-button).co-text-link:hover {
    color: inherit !important;
}
a:not(.md-button):not(.md-bottom-bar-item),
a:not(.md-button):not(.md-bottom-bar-item):hover {
    text-decoration: none !important;
}

.md-button-toggle > .md-button:last-child:first-child {
    border-radius: 2px;
}

.md-dialog-container {
    z-index: 2 !important;
}