extends layout

block includes
    link(rel="stylesheet", href="/music-score/index.css", type="text/css")
    script(type="text/javascript", src="/music-score/index.js")

block content
    #music-score-page