[v-cloak] {
    display: none;
}

html,
body {
    min-height: 100%;
    height: auto;
}

.md-padding {
    padding: 16px;
}

.md-margin {
    margin: 16px;
}

.md-radio-container, .md-radio-label {
    cursor: pointer;
}

a:not(.md-button).co-text-link,
a:not(.md-button).co-text-link:hover {
    color: inherit !important;
}
a:not(.md-button):not(.md-bottom-bar-item),
a:not(.md-button):not(.md-bottom-bar-item):hover {
    text-decoration: none !important;
}
