[v-cloak] {
    display: none;
}

html,
body {
    min-height: 100%;
    height: auto !important;
}

.md-padding {
    padding: 16px;
}

.md-margin {
    margin: 16px;
}

.md-radio-container, .md-radio-label {
    cursor: pointer;
}